{% extends 'app.html' %}
{% block content %}
<!-- breadcrumbs -->
<div class="w3l_agileits_breadcrumbs">
   <div class="container">
		<div class="w3l_agileits_breadcrumbs_inner">
			<ul>
				<li><a href="index.html">Home</a><span>&#187;</span></li>
									
				<li>Login</li>
				</ul>
		</div>
	</div>
</div>
<!-- //breadcrumbs -->
<div class="login elite-app">
	<div class="container">
	<div class="tittle-agileinfo">
				<h3>Login Now</h3>
			</div>
	<div class="col-md-8 login-form-w3-agile">
			 <form method="post">
				<div class="w3_form_body_grid">
					<span>Name</span>
					<input type="email" name="email" placeholder="Email" required="">
				</div>
				<div class="w3_form_body_grid">
					<span>Password</span>
					<input type="password" name="password" placeholder="Password" required="">
				</div>

				<input type="submit" value="Sign In">
			</form>
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
                {% if errors %}
                <div class="alert-message block-message error">
                  <a class="close" href="#">×</a>
                  <ul>
                    {%- for msg in errors %}
                    <li>{{ msg }}</li>
                    {% endfor -%}
                  </ul>
                </div>
                {% endif %}
            {% endwith %}
			<h4>Continue With</h4>
			<div class="social_icons agileinfo_social_asd">
				<!-- Facebook -->
				<a href="#" class="slide-social wthree_slide_social">
					<div class="button">5 Likes</div>
					<div class="facebook icon"> <i class="fa fa-facebook" aria-hidden="true"></i> </div>
					<div class="facebook slide">
						<p>Facebook</p>
					</div>
				</a>
				<!-- Twitter -->
				<a href="#" class="slide-social wthree_slide_social">
					<div class="button">8 Tweets</div>
					<div class="twitter icon"> <i class="fa fa-twitter" aria-hidden="true"></i> </div>
					<div class="twitter slide">
						<p>Twitter</p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4 login-right-info">
			<h3 class="subhead-agileits">Why Join Elite Match</h3>
			<p class="para-agileits-w3layouts" >Some Features</p>
			<ul>
				<li><i class="fa fa-check" aria-hidden="true"></i>Members from all over the world</li>
				<li><i class="fa fa-check" aria-hidden="true"></i>Verified profile</li>
				<li><i class="fa fa-check" aria-hidden="true"></i>matched by horoscope</li>
			</ul>
			<h5>Don't have an account?<i class="fa fa-hand-o-down" aria-hidden="true"></i></h5>
			<div class="sim-button button12"><a href="register.html">Register</a></div>
		</div>
	</div>
</div>
<!--login-inner-->
{% endblock %}